5.2 - StoreFront WPF/Service References/StoreServiceReference/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.microsoft.com/2003/10/Serialization/Arrays" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/_5._2___StoreService/StoreService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/_5._2___StoreService.Model" />
  <xs:complexType name="ArrayOfKeyValueOfProductintATVQguve">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfProductintATVQguve">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/_5._2___StoreService.Model" name="Key" nillable="true" type="q1:Product" />
            <xs:element name="Value" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfProductintATVQguve" nillable="true" type="tns:ArrayOfKeyValueOfProductintATVQguve" />
</xs:schema>